{% extends 'base.html.twig' %}

{% block isActive %}
    <ul class="nav">
        <li class="active">
            <a href="{{ path('profile') }}">
                <i class="pe-7s-user"></i>
                <p>Profile</p>
            </a>
        </li>
        <li>
            <a href="{{ path('forecast') }}">
                <i class="pe-7s-sun"></i>
                <p>Forecast</p>
            </a>
        </li>
        <li>
            <a href="{{ path('tasks_service') }}">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="{{ path('flats_service') }}">
                <i class="pe-7s-home"></i>
                <p>Flats</p>
            </a>
        </li>
        <li>
            <a href="{{ path('users_service') }}">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Edit Profile</h4>
                        </div>
                        <div class="content">
                            {{ form_start(updateProfileForm) }}
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text" class="form-control" disabled="" placeholder="Company"
                                                   value="{{ app.user.id }}">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_row(updateProfileForm.firstName, { 'label' : 'First name', 'attr' : { 'class' : 'form-control', 'placeholder' : 'Enter your first name', 'value' : app.user.firstName }}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {{ form_row(updateProfileForm.lastName, { 'label' : 'Last name', 'attr' : { 'class' : 'form-control', 'placeholder' : 'Enter your last name', 'value' : app.user.lastName }}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ form_row(updateProfileForm.email, { 'label' : 'Email address', 'type' : 'email', 'attr' : { 'class' : 'form-control', 'placeholder' : 'Enter email address', 'value' : app.user.email }}) }}
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                <div class="clearfix"></div>
                            {{ form_end(updateProfileForm) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 style="margin: 0;">Tasks for all flats</h4>
                         </div>
                        <div class="content">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th class="col-md-4">Flat name</th>
                                    <th class="col-md-4">Task name</th>
                                    <th class="col-md-1">Type</th>
                                    <th class="col-md-3 text-center">Options</th>
                                    </thead>
                                    <tbody>
                                    {% for key, task in tasks %}
                                        <tr>
                                            <td>{{ task.getFlat }}</td>
                                            <td>{{ task.name }}</td>
                                            <td>
                                                {% if task.type == 'todo' %}
                                                    TO-DO
                                                {% else %}
                                                    BUY
                                                {% endif %}
                                            </td>
                                            <td class="text-center col-xs-12">
                                                <a href="{{ path('your_turn', parameters = [ task.id ]) }}"
                                                   type="button" class="btn btn-success btn-sm btn-fill">
                                                    Your turn
                                                    <i class="fas fa-redo" style="font-size: 1em;"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
