{% extends 'base.html.twig' %}


{% block isActive %}
    <ul class="nav">
        <li>
            <a href="{{ path('forecast') }}">
                <i class="pe-7s-user"></i>
                <p>Forecast</p>
            </a>
        </li>
        <li>
            <a href="">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li class="active">
            <a href="{{ path('flats_service') }}">
                <i class="pe-7s-home"></i>
                <p>Flats</p>
            </a>
        </li>
        <li>
            <a href="{{ path('users_service') }}">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}

{{ form_start(flatForm) }}
<div class="form-group">
    {{ form_row(flatForm.name, { 'label' : false, 'type' : 'text', 'attr' : { 'class' : 'form-control', 'placeholder' : 'Enter email address' }}) }}
</div>
<div class="form-group">
    {{ form_row(flatForm.password, { 'label' : false, 'attr' : { 'class' : 'form-control', 'placeholder' : 'Enter your password' , 'id' : 'pass-field'}}) }}
    <i id="pass-status" class="fas fa-eye eye-pos" aria-hidden="true"></i>
</div>
<button class="my-button-2">Register</button>
{{ form_end(flatForm) }}

{% endblock %}