{% extends 'base.html.twig' %}


{% block isActive %}
    <ul class="nav">
        <li>
            <a href="{{ path('forecast') }}">
                <i class="pe-7s-user"></i>
                <p>Forecast</p>
            </a>
        </li>
        <li>
            <a href="{{ path('tasks_service') }}">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li class="active">
            <a href="{{ path('flats_service') }}">
                <i class="pe-7s-home"></i>
                <p>Flats</p>
            </a>
        </li>
        <li>
            <a href="{{ path('users_service') }}">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Go <a href="{{ path('create_flat') }}">HERE</a> to create a flat.</p>
                <p>Go <a href="{{ path('your_flats') }}">HERE</a> to see your flat list.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid my-margin">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('flats_service') }}" method="get" id="users_service" style="margin-bottom: 2em;">
                    <div class="row my-margin">
                        <div class="form-group">
                            <label for="choice" class="col-lg-2 col-lg-offset-1 ">Search for flats by: </label>
                            <div class="col-lg-1" style="padding: 0;">
                                <select name="option" class="form-control" id="choice">
                                    <option value="id">ID</option>
                                    <option value="name">Name</option>
                                </select>
                            </div>
                            <div class="col-lg-5 col-lg-offset-right-2" style="padding: 0;">
                                <input type="search" id="value" name="value" class="form-control"
                                       placeholder="Enter flat identifier...">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-fill col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1"
                            type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Table of found flats</h4>
                        <p class="category">Search for flats you want to join!</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>ID</th>
                            <th>Flat name</th>
                            <th>Number of users</th>
                            <th class="text-center">Options</th>
                            </thead>
                            <tbody>
                            {% for key, flat in flats %}
                                <tr>
                                    <td>{{ flat.id }}</td>
                                    <td>{{ flat.name }}</td>
                                    <td>{{ numberOfUsers[key] }}</td>
                                    <td class="text-center">
                                        {% if alreadyIn[key] == false %}
                                            <button type="button" class="btn btn-fill btn-success btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#joinFlat-{{ loop.index0 }}">
                                                Join flat
                                            </button>

                                            <div class="modal fade" id="joinFlat-{{ loop.index0 }}"
                                                 data-backdrop="false">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title">
                                                                <span class="success">Join <b>{{ flat.name }}</b></span>
                                                            </h4>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <form action="{{ path('join_flat', parameters = [ flat.id ]) }}"
                                                                  method="post">
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <label for="flat_password"
                                                                               class="col-lg-3 col-lg-offset-2 margin-control">Password: </label>
                                                                        <div class="col-lg-4">
                                                                            {% if msg is defined %}

                                                                            {% endif %}
                                                                            <input type="password" id="flat_password"
                                                                                   name="password" class="form-control"
                                                                                   placeholder="enter flat password...">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class=" col-lg-4 col-lg-offset-4 btn btn-fill btn-success btn-md btn-full col-xs-6 col-xs-offset-3"
                                                                        type="submit" style="margin-top: 2em;">
                                                                    Join
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        {% elseif alreadyIn[key] == true %}
                                            {% if oneMember[key] == false %}
                                            <button type="button" class="btn btn-fill btn-warning btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#leaveFlat-{{ loop.index0 }}">
                                                Leave flat
                                            </button>

                                            <div class="modal fade" id="leaveFlat-{{ loop.index0 }}"
                                                 data-backdrop="false">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title">
                                                                <span class="warning">Are you sure you want to leave <b>{{ flat.name }}</b>?</span>
                                                            </h4>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <form action="{{ path('leave_flat', parameters = [ flat.id ]) }}"
                                                                  method="post">
                                                                <button class="col-lg-4 col-lg-offset-4 btn btn-fill btn-warning btn-md btn-full col-xs-6 col-xs-offset-3"
                                                                        type="submit">
                                                                    Yes, I'm sure
                                                                </button>
                                                            </form>
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            {% elseif oneMember[key] == true %}
                                                <button type="button" class="btn btn-fill btn-danger btn-sm" data-toggle="modal"
                                                        data-target="#deleteFlat-{{ loop.index0 }}">
                                                    Delete flat
                                                </button>

                                                <div class="modal fade" id="deleteFlat-{{ loop.index0 }}" data-backdrop="false">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    <span class="danger">Delete <b>{{ flat.name }}</b></span>
                                                                </h4>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <form action="{{ path('delete_flat', parameters = [ flat.id ]) }}" method="post">
                                                                    <div class="row">
                                                                        <div class="form-group">
                                                                            <label for="flat_password" class="col-lg-3 col-lg-offset-2 margin-control" >Password: </label>
                                                                            <div class="col-lg-4">
                                                                                {% if msg is defined %}

                                                                                {% endif %}
                                                                                <input type="password" id="flat_password" name="password" class="form-control"
                                                                                       placeholder="enter flat password...">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button class=" col-lg-4 col-lg-offset-4 btn btn-fill btn-danger btn-md btn-full col-xs-6 col-xs-offset-3"
                                                                            type="submit" style="margin-top: 2em;">
                                                                        Delete
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center">
                            {{ knp_pagination_render(flats) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/change_placeholder_flats.js') }}" type="text/javascript"></script>


{% endblock %}
