{% extends 'base.html.twig' %}

{% block isActive %}
    <ul class="nav">
        <li class="active">
            <a href="{{ path('forecast') }}">
                <i class="pe-7s-user"></i>
                <p>Forecast</p>
            </a>
        </li>
        <li>
            <a href="{{ path('tasks_service') }}">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="{{ path('flats_service') }}">
                <i class="pe-7s-home"></i>
                <p>Flats</p>
            </a>
        </li>
        <li>
            <a href="{{ path('users_service') }}">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <main>
        <div class="col-sm-12">

            <p class="generated">
            {%  if success == true %}
                {{ sentence|raw }}
            {% else %}
                Unfortunately the city was not found.
            {% endif %}
            </p>
            <hr>

            <div class="col-xs-5 dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    Options
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <a href="{{ path('remove') }}" class="btn btn-danger btn-fill btn-block" style="margin-top: 1em;">Remove your saved city.</a>
                    <li class="divider"></li>

                    <div class="form-group">
                        <form action="{{ path('forecast') }}" method="get">
                            <input type="search" name="city_name" class="form-control" placeholder="City name to change...">
                            <button class="btn btn-fill btn-block" type="submit"> Change </button>
                        </form>
                    </div>
                </ul>
            </div>
        </div>

    </main>

{% endblock %}
