{% extends 'base.html.twig' %}

{% block isActive %}
    <ul class="nav">
        <li class="active">
            <a href="{{ path('forecast') }}">
                <i class="pe-7s-user"></i>
                <p>Forecast</p>
            </a>
        </li>
        <li>
            <a href="{{ path('tasks_service') }}">
                <i class="pe-7s-note2"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a href="{{ path('flats_service') }}">
                <i class="pe-7s-home"></i>
                <p>Flats</p>
            </a>
        </li>
        <li>
            <a href="{{ path('users_service') }}">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <main>

        <div class="col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-1">
            <h3 class="centered"> Add city for which you'd like to see forecasts.</h3>

            <form action="{{ path('forecast') }}" method="get">
                    <input type="search" name="city_name" class="form-control" placeholder="City name...">
                    <br>
                    <button class="btn btn-fill col-md-offset-1 col-md-10 col-xs-12" type="submit">
                        Add
                    </button>
            </form>

        </div>

    </main>


{% endblock %}
